
@font-face {
  font-family: "AvenirNext-Regular";
  src: url("./avenirnextltpro-regular.ttf");
}
@font-face {
  font-family: "AvenirNext-Medium";
  src: url("./avenirltstd-medium.ttf");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url("./avenirnextltpro-bold.ttf");
}
